<h1>詳細ページ</h1>
  <% if @post.image.attached? %>
    <%= image_tag @post.image.variant(resize:'450x450')  %>
  <% end %>
  <h1>
    <%= @post.name %>
  </h1>
    <%= @post.description %>
    <span><%= @post.price %>円</span>

  <% if user_signed_in? %>
    <td id="like-<%= @post.id %>">
      <% if current_user.already_like?(@post) %>
        <%= link_to '★', post_likes_path(@post), method: :delete, remote: true %>    
    </td>
      <% else %>
    <td id="like-<%= @post.id %>">
        <%= link_to '☆',post_likes_path(@post), method: :post, remote: true %>
    </td>
      <% end %>
        <%= @post.likes.count %>
  <% end %>

  <% if current_user %>
    <%= form_with(model: [@post, @message], local: true) do |form| %>
      <%= form.text_area :comment, placeholder: "コメントする", rows: "2" %>
      <%= form.submit "SEND" %>
    <% end %>
  <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>

  <h4>コメント一覧</h4>
  <% if @messages %>
    <% @messages.each do |message| %>
      <p>
        <strong><%= message.user.nickname %>：</strong>
        <%= message.comment %>
      </p>
    <% end %>
  <% end %>